<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DbClinica" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\VisualStudio_Projects\source\repos\Fiap.PlataformaNet.Avaliacao_44334\Fiap.PlataformaNet.Avaliacao_44334\DBCLINICA.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
</configuration>